# Configuration file

misc {
    I:maxHomes=2
    D:speedCap=10.0
}


names {
    B:name=true
    B:prefix=true
    B:suffix=true
}


rules {
    S:ruleHeader=List of Rules:
    S:rules <
     >
}


spawn {
    I:spawnDimension=0
}


staff {
    S:staff <
     >
}


warps {
    I:backDelay=0
    I:homeDelay=0
    I:spawnDelay=0
    I:warpDelay=0
    S:warps <
     >
}


