# Configuration file

##########################################################################################################
# global
#--------------------------------------------------------------------------------------------------------#
# These are various settings that apply to all events.
##########################################################################################################

global {
    # Set to false to completely disable the entire event system for every world.
    B:"Mob Events Enabled"=true

    # Set to false to disable scheduled events for every world.
    B:"Mob Events Schedule Enabled"=true

    # Set to false to disable random mob events for every world.
    B:"Random Mob Events Enabled"=false
}


##########################################################################################################
# world
#--------------------------------------------------------------------------------------------------------#
# These are various settings that apply to events on a per world basis. If your required world doesn't have its config values generated yet, you can generate them by entering the world in gae at least once.
##########################################################################################################

world {
}


